{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('booking') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('booking') }}
{% endblock %}

{% block title %}Edit Room{% endblock %}

{% block body %}
    <h1>Edit Room</h1>

    {{ include('room/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_room_index') }}">back to list</a>

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
