{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('booking') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('booking') }}
{% endblock %}

{% block title %}Room index{% endblock %}

{% block body %}
    <h1>Room index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>hotel</th>
                <th>BedCount</th>
                <th>IsEmpty</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.hotel }}</td>
                <td>{{ room.bedCount }}</td>
                <td>{{ room.isEmpty ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_room_show', {'id': room.id}) }}">show</a>
                    <a href="{{ path('app_room_edit', {'id': room.id}) }}">edit</a>
                    <a href="{{ path('app_hotel_show', {'id': room.hotel.id}) }}">go to hotel</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_room_new') }}">Create new</a>
{% endblock %}
