{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('booking') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('booking') }}
{% endblock %}

{% block title %}Room index{% endblock %}

{% block body %}
    <h1>Room index</h1>

    <table class="table table-striped table-dark rounded-2 my-4" >
        <thead>
            <tr>
                <th>Id</th>
                <th>BedCount</th>
                <th>IsEmpty</th>
                <th>Hotel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.bedCount }}</td>
                <td>{{ room.isEmpty ? 'Yes' : 'No' }}</td>
                <td>{{ room.hotel }}</td>
                <td>
                    <a class="btn-sm btn btn-warning" href="{{ path('app_room_show', {'id': room.id}) }}">Show</a>
                    <a class="btn-sm btn btn-info" href="{{ path('app_room_edit', {'id': room.id}) }}">Edit</a>
                    <a class="btn-sm btn btn-primary" href="{{ path('app_hotel_show', {'id': room.hotel.id}) }}">Go to hotel</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_room_new') }}">Create new</a>
{% endblock %}
