{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('booking') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('booking') }}
{% endblock %}

{% block title %}Room{% endblock %}

{% block body %}
    <h1>Room</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>BedCount</th>
                <td>{{ room.bedCount }}</td>
            </tr>
            <tr>
                <th>IsEmpty</th>
                <td>{{ room.isEmpty ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Hotel</th>
                <td>{{ room.hotel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_room_index') }}">back to list</a>

    <a href="{{ path('app_room_edit', {'id': room.id}) }}">edit</a>

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
